/* Asegurar que toda la pantalla se coloree */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 90%;
  max-width: 400px;
  padding: 20px;
}

button {
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  transition: background-color 0.2s;
}

.like, .dislike, .color, .start, .stop, .time {
  background: linear-gradient(135deg, #4CAF50, #2E8B57);
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
}



.time {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

/* Header estilos */
.header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  transition: color 0.3s ease;
}

.header.dark {
  color: white;
}

.header.light {
  color: black;
}

/* RESPONSIVE */
@media (max-width: 480px) {
  button {
    font-size: 14px;
    padding: 10px;
  }
}
